# Node.js
node_modules/
npm-debug.log
yarn-debug.log
.env
.env.production
.env.local

# Firebase service account key
localsza-firebase-adminsdk-fbsvc-08ecb67c57.json
src/utils/localsza-firebase-adminsdk-fbsvc-08ecb67c57.json