.registerLogin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
    min-height: 100vh;
    text-align: center;
    background: transparent;
}

.reg-logo {
    max-width: 250px;
    max-height: 250px;
}
.app-form {
    display: flex;
    flex-direction: column;
    gap: 12px;  
}
.app-form input{
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #f8f9fa;
    padding: 1em 0em;
    box-shadow: 0 0 5px #dee2e6;
    color: #212529;
    min-width: 300px;
    font-size: 1.125rem;
    padding: 1rem 1rem;

}
.app-form input:focus {
    outline: none;
    box-shadow: 0 0 5px #6b6b6b;
}

.app-btn,
.google-btn {
    background-color: #FFB803;
    color: #212529;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding: 0.75rem 0.5rem;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
}

.google-btn {
    margin-top: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.app-btn:hover ,
.google-btn:hover {
    background-color: #212529;
    color: #FFB803;
}